<!DOCTYPE html>
<html>

<head>
    <title>Editar Tarefa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1>Editar Tarefa</h1>
    <form action="/tarefas/<%= tarefa.idtodo_list %>/editar" method="POST">
        <label for="titulo">Nome:</label>
        <input type="text" id="titulo" name="titulo" value="<%= tarefa.titulo %>" required><br>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required><%= tarefa.descricao %></textarea><br>

        <input type="submit" value="Salvar">
    </form>
</body>

</html>