/* Estilos para o contêiner principal */
body {
    background-color: #b69eff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura total da página */
}

/* Estilos para os itens dentro do contêiner */
div{
    text-align: center;
}
