<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logotipo da Clínica -->
        <a class="navbar-brand" href="#">ClinicDoc</a>

        <!-- Links para as duas seções -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/consultas">inicio</a>
            </li>
        </ul>
    </div>
</nav>